/* Webfont: BaseNeue-ExtraBold */@font-face {
    font-family: 'BaseNeueExtBd';
    src: url('BaseNeue-ExtraBold.woff2') format('woff2'), /* Modern Browsers */
         url('BaseNeue-ExtraBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

